@import "variables";
@import "base";

html,body {
  height: 100%;
}
body {
  font-family: Roboto-Regular;
  margin: 0;
}
.root {
  height:100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.header {
  padding: 13px 0px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  &__phone-block {
    display: flex;
    align-items: center;
  }
  &__phone {
    font-size: 18px;
    color: $color-black;
    margin-right: 6px;
    &-text {
      font-size: 12px;
    }
  }
  &-right-block {
    display: flex;
    align-items: center;
    &__elem {
      margin-right: 35px;
      font-size: 14px;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000000;
      text-decoration: none;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

.header__icon {
  margin-right: 2px;
}
.icon-star {
  background: url("../images/star-icon.png") no-repeat;
  width: 31px;
  min-width: 31px;
  height: 31px;
  display: block;
}
.icon-youtube {
  background: url("../images/you-tube-icon.png") no-repeat;
  background-size: cover;
  width: 54px;
  min-width: 54px;
  height: 22px;
  display: block;
}
.icon-live {
  background: url("../images/play-icon.png") no-repeat;
  width: 31px;
  min-width: 31px;
  height: 22px;
  display: block;
}
.header-main {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 112px;
  }
  &__logo-link {
    text-decoration: none;
    color: $color-black;
    display: flex;
    align-items: center;
    img {
      margin-right: 5px;
    }
    &:hover {
      color: $color-black;
    }
  }
  &__logo-text {
    font-family: DearJoe;
    font-size: 30px;
    height: 30px;
  }
  &__search-button {
    background: url("../images/search-icon.png") no-repeat;
    width: 16px;
    height: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 2px;
  }
  &__search {
    width: 226px;
    height: 21px;
    position: relative;
    input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid $color-black;
      font-size: 14px;
      padding-bottom: 7px;
      padding-right: 24px;
      position: relative;
      font-family: $font-basis;
      &::placeholder {
        color: $color-black;
      }
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    margin-right: 60px;
    &-icon {
      background: url("../images/user-avatar.png") no-repeat;
      width: 27px;
      height: 25px;
      margin-right: 10px;
    }
    &-name {
      font-size: 14px;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    &-icon {
      background: url("../images/cart-icon.png") no-repeat;
      width: 22px;
      height:27px;
      margin-right: 10px;
    }
    &-text {
      font-size: 12px;
      font-family: Roboto-Medium;
    }
  }

}
.header-category-list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
  li {
    margin-right: 20px;
    a {
      font-size: 16px;
      color: $color-black;
      text-decoration: none;
      padding: 15.5px 0px;

      display: block;
    }
    a.active {
      border-bottom: 2px solid #ff6c00;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }
}
.header-category-list-child {
  li {
    a {
      font-size: 14px;
      padding: 11.5px 0px;
    }
  }
}
.header-category-menu {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  &-child {
    border-bottom: 1px solid #e4e4e4;
  }
}
.line {
  background-color: #d9d9d9;
  height: 2px;
  border: none;
  margin: 0;
  position: relative;
  z-index: 0;
  top: 15px;
}
.cart-block-title-wrapper {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.cart-block-title {
  text-align: center;
  font-size: 22px;
  font-family:Roboto-Medium;
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 0px 20px;
}
.table {
  display: flex;
  justify-content: space-between;
  .td {
    flex-grow: 2;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0px;
    }
  }
  .td-good {
    width: 178px;
    max-width: 178px;
    min-width: 178px;
    height: 178px;
    img {
      width: 178px;
      height: 178px;
    }
  }
  .td-desc {
    width: 243px;
    p {
      margin: 0;
      font-size: 16px;
      font-family: Roboto-Medium;
    }

    .code {
      color: #808080;
      font-size: 14px;
      margin: 10px 0px;
      font-family: Roboto-Regular;
    }

  }
  .td-count {
    width: 200px;
    text-align: center;
    button {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      color: #8d8d8d;
      font-size: 20px;
    }
    .number-block {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .number {
      padding: 0 12px;
    }
  }
  .td-price {
    width: 198px;
    text-align: center;
  }

  .td-delete {
    width: 96px;
    text-align: center;
    .delete {
      border: none;
      outline: none;
      background: url("../images/cancel.png") no-repeat;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.cart-list-subjects {
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 30px;
  &__head {
    padding: 18px 0px;
    .td-good {
      height: auto;
    }
  }
  &__content {
    margin-top: 30px;
  }
  &__price {
    font-family: Roboto-Medium;
  }
}
.total-block {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.total-right {
  width: 355px;
}
.total-item-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  &__order-button-wrapper {
    justify-content: flex-end;
  }
  &:first-of-type {
    margin-top: 0px;
  }
  &-orange {
    color: #ff6c00;
  }
  &-final {
    margin-top: 35px;
  }
  label {
    font-size: 16px;
  }
  &__order-button {
    margin-top: 30px;
  }
}
.promocode {
  &-text {
    font-size: 16px;
  }
  &-input-wrapper {
    display: flex;
    margin-top: 15px;
  }
  &-input {
    width: 276px;
    height: 45px;
    border: 1px solid #dadada;
    padding: 15px 11px;
    outline: none;
    margin-right: 20px;
  }
}
.btn {
  width: 178px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  &-grey {
    background-color: rgb(183, 183, 183);

  }
  &-orange {
    background-color: #ff6c00;
  }
}
.additional-subjects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.additional-subject {
  width: 276px;
  text-align: center;
  color: $color-black;
  text-decoration: none;
  &:hover {
    color: $color-black;
    text-decoration: none;
  }

  &__img {
    width: 100%;
  }
  &__name {
    font-size: 16px;
    margin-top: 10px;
  }
  &__price {
    font-size: 16px;
    font-family: Roboto-Medium;
    margin-top: 15px;
  }
}
.footer {
  background-color: #2a2a2a;
  color: #ffffff;
  margin-top: 100px;
  &__line {
    border: none;
    background-color: #b2b2b2;
    margin: 0;
    height: 1px;
  }
  &__info {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    color: #f3f3f3;
  }
  &__left {
    display: flex;
  }
  &__logo {
    margin-right: 25px;
  }
  &__phone {
    p {
      &:first-of-type {
        margin-top: 0px;
      }
    }
    .phone {
      font-size: 30px;
      margin: 0;
      line-height: 30px;
    }
    .phone-desc {
      font-size: 15px;
      margin: 15px 0px;
    }
  }
}
.social-block {
  display: flex;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__text {
    margin-right: 10px;
  }
  .vk-icon {
    background: url("../images/vk.png");
  }
  .facebook-icon {
    background: url("../images/facebook.png");
  }
  .odnoklassniki-icon {
    background: url("../images/odnoklassniki.png");
  }
  .pinterest-icon {
    background: url("../images/pinterest.png");
  }
  .heart-icon {
    background: url("../images/heart.png");
  }
  .pinme-icon {
    background: url("../images/pinme.png");
  }
  .instagram-icon {
    background: url("../images/instagram.png");
  }
  .youtube-icon {
    background: url("../images/youtube.png");
  }
  .icon {
    width: 56px;
    height: 51px;
    display: block;
    margin-right: 5px;
  }
  &__link-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.pages-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ul {
    padding: 0;
    list-style: none;
    li {
      a {
        color: #cacaca;
        text-decoration: none;
        line-height: 1.5;
        &:hover {
          color: #cacaca;
          text-decoration: underline;
        }
      }
    }
  }
}
.page-block {
  width: 170px;
  margin-right: 15px;
  &__title {
    font-size: 18px;
  }
  &:last-of-type {
    margin-right: 0px;
  }
}
.copyright-block {
  padding: 40px 0px;
  text-align: center;
  color: #cacaca;
  font-size: 12px;
  p {
    margin: 0px;
  }
}
.mobile-menu {
  display: none;
}

.burger {
  $width: 28px;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: $burger--thickness solid currentColor;
  width: $width;
  margin-top: 6px;
  transition: border-bottom 1s ease-in-out;

  &:before {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
  }
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
  }
}

.navigation {
  overflow: hidden;
  max-height: 0;
  transition: $navigation__transition;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: $navigation__transition;
}


@media (max-width: 992px) {
  .header-top {
    display: none;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    &__icon-text {
      font-size: 12px;
    }
  }
  .header-right-block {
    &__elem {
      margin-right: 25px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-main {
    &__logo {
      margin-right: 10px;
    }
    &__avatar {
      margin-right: 20px;
    }
  }
  .header-category-list {
    li {
      margin-right: 12px;
      a {
        font-size: 14px;
      }
    }
  }
  .header-category-list-child{
    li {
      a {
        font-size: 13px;
      }
    }
  }
  .promocode-input {
    width: 175px;
  }
  .total-right {
    width: 45%;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__left {
    justify-content: center;
  }
  .footer__right {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
  .header-category-list {
    display: none;
  }
  .header-main {
    &__left {
      flex-direction: column;
      align-items: flex-start;
      margin-right: 5px;
    }
    &__right {
      flex-direction: column;
      align-items: flex-start;
    }
    &__logo {
      margin-right: 0;
    }
    &__logo-text {
      font-size: 25px;
    }
    &__logo-link img {
      width: 50px;
    }
    &__search {
      margin-top: 10px;
      width: 100%;
    }
    &__avatar {
      margin-right: 0px;
    }
    &__cart {
      margin-top: 10px;
    }
  }
  .header-category-menu-child {
    border: none;
  }
  .mobile-header-category-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
     li {
       a {
         font-size: 16px;
         color: #000000;
         text-decoration: none;
         padding: 10px 0px;
         display: block;
       }
       a.active {
         color: #ff6c00;
       }
     }
  }
  .cart-block-title-wrapper {
    margin-top: 30px;
  }

  .table {
    position: relative;
    flex-wrap: wrap;
    .td-good {
      width: 89px;
      max-width: 89px;
      min-width: 89px;
      height: 89px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .td-delete {
      position: absolute;
      right: 0px;
      width: 20px;
    }
    .td-price {
      display: flex;
      justify-content: flex-end;
      margin-right: 0;
      width: 45%;
    }
    .td-count {
      display: flex;
      width: 45%;

    }
    .td-desc {
      width: 50%;
    }
  }
  .cart-list-subjects__head {
    display: none;
  }
  .cart-list-subjects__content {
    margin-top: 30px;
    border: 1px solid #d9d9d9;
    padding: 5px;
    border-radius: 5px;
  }
  .total-right {
    width: 100%;
    margin-top: 15px;
  }
  .promocode-input {
    width: 45%;
  }
  .additional-subject {
    width: 45%;
    margin-top: 10px;
  }
  .pages-block {
    display: none;
  }
  .footer {
    &__left {
      width: 100%;
      justify-content: center;
    }
    &__phone {
      .phone {
        font-size: 18px;
      }
    }
  }
  .social-block__link-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cart-block-title {
    padding: 0;
  }

}

