/*@font-face {*/
    /*font-family: 'dearJoe 1 M&S';*/
    /*src: url('DearJoe1MS.eot');*/
    /*src: url('DearJoe1MS.eot?#iefix') format('embedded-opentype'),*/
        /*url('DearJoe1MS.woff2') format('woff2'),*/
        /*url('DearJoe1MS.woff') format('woff');*/
    /*font-weight: normal;*/
    /*font-style: italic;*/
/*}*/

